<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="connect" connectionString="Data Source=VISHAL\SQLEXPRESS; Initial Catalog=login_page; integrated security=true"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString2" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString3" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString4" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString5" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString6" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString7" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString8" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString9" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString10" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString11" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString12" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString13" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString14" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString15" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString16" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString17" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString18" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="hms" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString19" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="conn" connectionString="Data Source=VISHAL; Initial Catalog=grocery; integrated security=true"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString20" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString21" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString22" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString23" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="groceryConnectionString24" connectionString="Data Source=VISHAL;Initial Catalog=grocery;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>